# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Visual Studio Code
.vscode/

# Logs
*.log

# Cache
*.cache

# ARQUIVOS DE CONFIGURAÇÃO SENSÍVEIS
appsettings.Local.json
*.Local.json
secrets.json
